* {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    max-width: 600px;
    margin: 50px 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#roll-dice {
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#roll-dice:hover {
    background-color: #0056b3;
}

#dice-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.die {
    width: 80px;
    height: 80px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
    border-radius: 6px;
    border: 1px solid #ddd;
    box-shadow: inset 0px 0px 20px #0002;
    padding: 14px;
    animation: spin ease 2s 1;
}

.minor-die {
    background-color: #f88;
    border: 1px solid #f88;
}

.minor-die .dot {
    border: 1px solid #faa;
    box-shadow: inset 0px 0px 6px #f99;
}

.column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.column.center-column {
    justify-content: center;
}

.dot {
    width: 16px;
    height: 16px;
    background-color: #000;
    border-radius: 100%;
    border: 1px solid #ddd;
    box-shadow: inset 0px 0px 6px #aaa;
}

.dot.hidden {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

#allocation-container {

}

#allocation-container.hidden {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(360deg) scale(0.75);
    }
    100% {
        transform: rotate() scale();
    }
}
